*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
@font-face {
    font-family: 'Montserrat';
    src: local('meta-normal'), local('meta-normal'),
    url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-italic';
    src: local('meta-normal'), local('meta-normal'),
    url('assets/fonts/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    font-family: Montserrat;
    width: 100%;
}
html.night, body.night {
    background-color: #131313;
    color: #fff;
}
.intro {
    padding: 120px 100px;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}
.intro__hello{
    font-size: 3rem;

}
.intro__tagline {
    font-size: 2rem;
}
.intro__tagline {
    font-weight: 300;
    max-width: 700px;
}
.section{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 100px 170px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.title_description{
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    color: #5265f6;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    letter-spacing: 2px;
}
.description{
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 650px;
}

.section__content p {
    margin-top: 0;
    margin-bottom: 25px;
}
.project{
    max-width: 600px;
    margin-bottom: 50px;
}
.name{
    margin-bottom: 10px;
}
.section__content {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 650px;
}
.highlight-link:hover {
    transition: 0.10s;
    padding-bottom: 1px;
    border-bottom: solid 3px #5265f6;
}
.pl {
    color: #5265f6;
    border-color: #5265f6;
    background-image: initial;
    background-color: transparent;
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-family: "Inconsolata", monospace;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #5265f6;
    border: 1px solid #5265f6;
    background: transparent;
}
a{
    color: #5265f6;
    font-size: 18px;
    user-select: none;
    text-decoration: none;
}
.arrow-link {
	color: #5265f6; 
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.arrow-link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; 
    background-color: #5265f6; 
    transition: width 0.5s; 
}
.arrow-link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #5265f6; 
    transition: width 0.5s; 
}
.wrap {
    margin: 2rem;
    transform-style: preserve-3d;
    transform: perspective(100rem);
    cursor: pointer;
  }
.container {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
    width: 13rem;
    height: 19rem;
    border: 1px solid var(--background-color);
    border-radius: 1.6rem;
    padding: 4rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("assets/img/CardLow2.jpg");
    background-position: var(--bX) var(--bY);
    background-size: 21rem auto;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
    transition: transform .6s 1s;
}
.container::before,
.container::after {
    content: "";
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
    position: absolute;
    z-index: 2;
    opacity: .3;
    transition: .3s;
} 
.container::before {
    top: 3rem;
    right: 3rem;
    border-bottom-width: 0;
    border-left-width: 0;
}
.container::after {
    bottom: 3rem;
    left: 3rem;
    border-top-width: 0;
    border-right-width: 0;
}
.container--active {
    transition: none;
}
.wrap:hover .container::before,
.wrap:hover .container::after {
    width: calc(100% - 6.09rem);
    height: calc(100% - 6.09rem);
}
.square {
    opacity: 0;
    transform: scale(1.2)
  }
  @media (prefers-reduced-motion: no-preference) {
    .square {
      transition: opacity 1.5s ease, transform 1.5s ease;
    }
  }
  .square-transition {
    opacity: 1;
    transform: scale(1)
  }
  .target {
    opacity: 0;
    transform: scale(1.2)
  }
  @media (prefers-reduced-motion: no-preference) {
    .target {
      transition: opacity 1.5s ease, transform 1.5s ease;
    }
  }
  .target-transition {
    opacity: 1;
    transform: scale(1)
  }
.copy__right {
    font-weight: 700px;
    width: 300px;
}
.footer{
    padding: 50px 80px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}